# Fund from faucet: https://faucet.polkadot.io/?parachain=1111
DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE

# Populated after deployment
FORWARDER_ADDRESS=
SUBSTRATE_FORWARDER_ADDRESS=
TICKET_NFT_ADDRESS=

# Server config
PORT=3000
